<!DOCTYPE html>
<html>
<head>
	<title>List Users</title>
</head>
	<body>
	 	<div>
	 		<h3><a href="/addUser">Create User</a></h3>
	 		<h1>List Users</h1>
	 		<% if(users != undefined && users.length>0) { %>
	 			<table>
	 				<thead>
	 					<tr>
	 						<th>User Email</th>
	 						<th>User FirstName</th>
	 					</tr>
	 				</thead>
	 				<tbody>
	 					<%for(var i=0;i<users.length;i++){ %>
	 						<tr>
				 				<td><a href="/users/show/'<%= users[i].email%>'"><%= users[i].email %></a></td>
				 				<td><%= users[i].Firstname%></td>
				 				<td>
				 						<!--%
				 							const {URL} = require('url');
				 							const myUrl= new URL ('localhost:3000/users/');
				 							myUrl.searchParams.set('_id', )
				 						%-->
				 					<form method="post" action="/users/'<%=users[i]._id%>'">
				 						<!--input type="hidden" name="_id" value='<%=users[i]._id%>' /-->
				 						<!--input type="hidden" name="_method" value="delete" /-->
				 						<input type="submit" value="delete" name="delete" />
				 					</form>
				 				</td>
				 				<td>
				 					<!--a href="/users/'<%=users[i]._id%>'/update">update</a-->
				 				</td>
				 			</tr>
	 					<%}%>
	 				</tbody>
	 			</table>
	 			
	 		<%}else {%>
	 			<div>No employees found</div-->
	 		<%}%>
	 	</div>
	</body>
</html>